<%= form_tag(password_resets_path, method: :post) do %>
  <div class="actions">
    Email: <%= email_field_tag :email, "", { required: true } %><br>
    <%= submit_tag("Reset Password") %>
  </div>
<% end %>
